	@media (min-width: 1200px)
	.container {
	    width: 1170px;
	}
	@media (min-width: 992px)
	.container {
	    width: 970px;
	}
	@media (min-width: 768px)
	.container {
	    width: 750px;
	}
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	body{
		font-weight: 400;
		font-size: 14px;
		font-family: tahoma;
	}

	 .panel-heading {
	    color: #31708f;
	    background-color: #d9edf7;
	    border-color: #bce8f1;
	    padding: 10px 15px;
	    border: 1px solid transparent;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    width:100%;

	}
	.panel-heading div{
		display:inline-block;
	}

	.panel-info {
	    border-color: #000;
	    margin-bottom: 20px;
	    background-color: #fff;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: 0 1px 1px rgba(0,0,0,.05);

	}

	.searchBtn {
	    display: inline-block;
	    padding: 6px 12px;
	    font-size: 12px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    border-radius: 6px;
	    margin-left:-4px;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}

	.inputBox {
	    display: inline-block;
	    padding: 6px 12px;
	    font-size: 12px;
	    line-height: 1.4;
	    color: #555;
	    border: 1px solid #ccc;
	    border-radius: 6px;
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	}
	.panel-body {
	    padding: 15px;
	    border: 1px solid transparent;
	    background: #fff;
	}
	.popup-panel-body{
	    padding: 15px;
	    border: 1px solid transparent;
	    background: #fff;	
	    border-radius: 0px!important;	
	    height:200px;
	    display:block;
	    overflow: auto;;
	}
	body{background-color: #ccffaa;}

	div.popup {
	    position: fixed;
	    top: 20%;
	    left: 40%;
	    width: 500px;

	    margin-left: -100px;
	   	border-radius: 10px
	    margin-top: -25px;
	    background: rgba(44,44,44,.5);
	    padding: 4px;
	     border-bottom: 1px solid transparent;
	}

 
	.panel-bottom {
	    padding: 10px 15px;
	    border-bottom: 1px solid transparent;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
		color: #31708f;
	    background-color: #D4D4D4;
	    border-color: #bce8f1;
	}
	* {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	
	.panel {
	    /* margin-bottom: 20px; */
	    background-color: #fff;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	}
	
	.writable{
		padding:4px;
		margin:1px;
	    border: 1px solid #00ffaa;
	    border-radius: 4px;		
	}
